* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Animations */
@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

body {
  font-family: "lato", sans-serif;
  line-height: 1.7;
  color: #777;
  font-weight: 400;
  padding: 3rem;
}

.heading-primary {
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.heading-primary-main {
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  -webkit-animation: moveInLeft 0.7s ease-in-out;
          animation: moveInLeft 0.7s ease-in-out;
}

.heading-primary-sub {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.74rem;
  -webkit-animation: moveInRight 0.7s ease-in-out;
          animation: moveInRight 0.7s ease-in-out;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, right top, from(#21d4fd), to(#b721ff));
  background-image: linear-gradient(to right, #21d4fd, #b721ff);
  -webkit-background-clip: text;
  color: transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  letter-spacing: 2px;
  font-weight: 700;
}

.heading-secondary:hover {
  -webkit-transform: skewY(2deg) skewX(15deg) scale(1.03);
          transform: skewY(2deg) skewX(15deg) scale(1.03);
  margin-right: 0;
}

.heading-tertairy {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.text-center {
  text-align: center;
}

.mb-8 {
  margin-bottom: 7rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section-about__body-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.section-about__body-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.section-features {
  padding: 25rem 0;
  margin-top: -20vh;
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(33, 212, 253, 0.7)), to(rgba(183, 33, 255, 0.7))), url(../img/nat-4.jpg);
  background-image: linear-gradient(to top right, rgba(33, 212, 253, 0.7), rgba(183, 33, 255, 0.7)), url(../img/nat-4.jpg);
  background-size: cover;
  -webkit-transform: skewY(-5deg);
          transform: skewY(-5deg);
}

.section-features__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transform: skewY(5deg);
          transform: skewY(5deg);
}

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 50rem 0;
  margin-top: -20vh;
}

.section-tours__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 3rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 1.6rem;
  -webkit-box-shadow: 0 0.5rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 4rem rgba(0, 0, 0, 0.2);
  position: relative;
}

.btn:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 0;
}

.btn:active {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: white;
  color: #777;
  margin-top: 5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.btn--white::after {
  background-color: white;
}

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-animated {
  -webkit-animation: moveInBottom 0.4s ease-out 0.65s backwards;
          animation: moveInBottom 0.4s ease-out 0.65s backwards;
  /* animation-fill-mode: backwards; */
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  padding: 3px;
  color: #20afcf;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid #20afcf;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-text:hover {
  color: white;
  background-color: #20afcf;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.btn-text:active {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.composition {
  position: relative;
  margin-top: 1rem;
}

.composition__photo {
  width: 60%;
  border-radius: 2px;
  position: absolute;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 10;
  outline-offset: 1.5rem;
}

.composition__photo-p1 {
  left: 0;
  top: -2rem;
}

.composition__photo-p2 {
  right: 0;
  top: 2rem;
}

.composition__photo-p3 {
  left: 20%;
  top: 10rem;
}

.composition__photo:hover {
  -webkit-transform: scale(1.05) translateY(-0.5rem);
          transform: scale(1.05) translateY(-0.5rem);
  -webkit-box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.15);
  z-index: 20;
  outline: 1.5rem solid #20afcf;
}

.composition:hover .composition__photo:not(:hover) {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  text-align: center;
  padding: 2.5rem;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  max-width: 24rem;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.feature-box__icon {
  font-size: 6rem;
  color: transparent;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#b721ff), to(#21d4fd));
  background-image: linear-gradient(to right bottom, #b721ff, #21d4fd);
  -webkit-background-clip: text;
}

.feature-box:hover {
  -webkit-transform: translateY(-1.5rem) scale(1.03);
          transform: translateY(-1.5rem) scale(1.03);
}

.feature-box__text {
  max-width: 23rem;
}

.card {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  position: relative;
  height: 50rem;
  width: 30rem;
}

.card__side {
  width: 30rem;
  height: 50rem;
  font-size: 2rem;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card__side--front {
  background-color: white;
}

.card__side--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-image: -webkit-gradient(linear, left bottom, right top, from(#21d4fd), to(#b721ff));
  background-image: linear-gradient(to top right, #21d4fd, #b721ff);
}

.card__side--back-green {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#85ffbd), to(#fffb7d));
  background-image: linear-gradient(to top right, #85ffbd, #fffb7d);
}

.card__side--back-pink {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#ff5acd), to(#fbda61));
  background-image: linear-gradient(to top right, #ff5acd, #fbda61);
}

.card:hover .card__side--front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card:hover .card__side--back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.header {
  height: 95vh;
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(33, 212, 253, 0.7)), to(rgba(183, 33, 255, 0.7))), url(../img/hero.jpg);
  background-image: linear-gradient(to top right, rgba(33, 212, 253, 0.7), rgba(183, 33, 255, 0.7)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
}

.header__logo-box {
  padding: 40px;
}

.header__logo {
  height: 35px;
}

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=main.css.map */