// Colors
$color-primary: #20afcf;
$color-primary-light: #21d4fd;
$color-primary-dark: #b721ff;

$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777;

// Shadow
$color-black-shadow: rgba(0, 0, 0, 0.2);
$color-black-shadow-dark: rgba(0, 0, 0, 0.15);

// Grid
$gird-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// Font
$default-font-size: 1.6rem;
