/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

$color-primary: #20afcf;
$color-primary-light: #21d4fd;
$color-primary-dark: #b721ff;

$color-grey-dark: #777;

$color-black-shadow: rgba(0, 0, 0, 0.2);