.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;

  &__body {
    display: flex;
    justify-content: space-around;

    &-left {
      background-color: orangered;
      flex: 0 0 40%;
    }

    &-right {
      background-color: orangered;
      flex: 0 0 40%;
    }
  }
}
